<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Products</title>
  <link rel='stylesheet' href='css/bootstrap.min.css'>
</head>
<body>
<div class='well'>
  <h2>Add a inhaalexamen</h2>
  <br/><br/>
  <form action='/add' method='POST'>
   <table>
     <tr><td>Naam student: </td><td><input type='text' name='name'></td></tr>
     <tr><td>Examen : </td><td><input type='text' name='description'></td></tr>
     <tr><td>Reden : </td><td><input type='text' name='reason' size=100></td></tr>
     <tr><td><p>Datum: <span id="datum" name= 'datum'></span></p>
     <script>
        var dt = new Date();
          document.getElementById("datum").innerHTML = dt.toLocaleDateString();
      </script></td></tr>
     <tr><td><button type='submit'>Add</button></td></tr>
   </table>
  </form>
</div>
</body>
</html>
