<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Inhaalexamens</title>
  <link rel='stylesheet' href='css/bootstrap.min.css'>
</head>
<body>
  <h1>Alle inhaalexamens</h1>
 <br/><br/>
  <ul class='inhaalexamen'>
  <% for(var i=0; i < inhaalexamens.length; i++) {%>
    <li class='inhaalexamen'>
      <span><b>Naam student : </b><%= inhaalexamens[i].name %></span><br />
      <span><b>Examen : </b><%= inhaalexamens[i].description %></span><br />
      <span><b>Reden : </b><%= inhaalexamens[i].reason %></span><br />
      <span><b>Datum : </b><%= inhaalexamens[i].datum %></span><br />
    </li>
  <% } %>
  </ul>
<br />

<a href='/add'>Add inhaalexamen</a>&nbsp;

</body>
</html>
